<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
  <style>
          #box{
                background: red;
                width: 41%;
                height: 300px;
          }  
        </style>
<body>

    <h1>Hellow Vue js (Watcher)</h1>
    <div id="app">
      <input type="text" v-model="message" >
      <p v-if="typeing">Typing....</p>
      <br>
      <hr>
      <input type="text" v-model="gb">
      <input type="text" v-model="mb">
      <hr><br>
      <h2>{{ counter }}</h2>
      <button @click.prevent="counter++" >Press Me</button>
      <input type="text" v-model="someText">
      <button @click.prevent="testMethod()" >TEST Me</button>
    </div>


    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="main.js"></script>

    <script>

      let vu = new Vue({
        el:"#app",
        data:{
          message:'',
          typeing:false,
          gb:null,
          mb:null,
          counter:0,
          someText:null
        },
        watch:{
          message(newValue, oldValue){
            console.log("newValue ="+newValue);
            console.log("oldValue = "+oldValue);
            this.typeing = true;

            setTimeout(()=>{
              this.typeing = false;
            },2000);
          },
          gb(value){
            console.log('gb');
            this.mb = value * 1024;
          },
          mb(value){
            console.log('mb');
            this.gb = value / 1024;
          },
          someText(){
            this.counterIncrement();
          }

        },
        methods: {
          async counterIncrement(){
            console.log( this.counter);
            this.counter ++;
          },
          testMethod(){
            console.log('tes');
          }
        },
      });

    </script>
</body>
</html>